.basketDiv{
    width: 75% !important;
    min-height: 80vh;
    overflow-y: auto;
}
.orderDiv{
    width: 100% !important;
    position: relative;
}
.btn{
    position: absolute;
    width: 80%;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media (max-width:750px) {
    .basketDiv{
        width: 100% !important;
    }
    .orderDiv{
        bottom: 0 !important;
        max-height: 100vh;
        z-index: 9 !important;
    }
    .btn{
        position: relative;
        margin-top: 30px;
    }
}