.sec {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    margin-bottom: 50px;
}

.imgDiv {
    background-color: #EB5757;
}

.inpDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 40%;
    margin-top: 40px;
}

.link {
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: bold;
}
.link a{
    cursor: pointer;
}

.inpDiv form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}
.inpDiv p{
    color: red;
    font-size: 20px;
}

.inpDiv label{
    color: #4F4F4F;
    font-size: 20px;
}
.inpDiv input {
    background-color:#FFE7E7;
    color:#4F4F4F ;
    padding: 10px;
    border: 1px solid #FFE7E7;
    font-size: 20px;
    border-radius: 10px;
}
.inpDiv input:focus{
    border: 1px solid rgb(202, 57, 57);
    outline: none;
}
.inpDiv button{
    background-color: #EB5757;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #EB5757;
    font-size: 25px;
    margin: 0 auto;
}
.inpDiv button:hover{
    background-color: #d55050;
    border: 1px solid #d55050;
}
.mainDiv{
    width: 100%;
}
.password{
    position: relative;
}
.password img{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 30px;
}
@keyframes moveBox {
    0% {
        left: -100px; 
        opacity: 0; 
      }
      33% {
        left: calc(50% - 50px);
        opacity: 1;
      }
      66% {
        left: calc(50% - 50px);
        opacity: 1; 
      }
      100% {
        left: 100%; 
        opacity: 0; 
      }
  }
.alert{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 300px;
    transform: translateY(-50%);
    opacity: 0; 
    animation: moveBox 2.3s linear forwards;
    padding: 30px;
}
@media (max-width:750px) {
    .sec{
        flex-direction: column;
        margin-bottom: 40%;
    }
    .secRegisterRes{
        margin-bottom: 100%;
    }
    .imgDiv{
        width: 100%;
    }
    .imgDiv img{
        width: 100%;
        height: 250px;
    }
    .inpDiv{
        width: 80%;
    }
}