.sec{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.text{
    width: 40%;
}
.text h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.text p{
    font-size: 25px;
    color: #828282;
}
.container{
    top: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.mainDiv{
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    right: 0;
    top: 40px;
    height: 100px;
    width: 40%;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: transform 0.3s ease;
}
.mainDiv:hover{
    transform: scale(0.9);
}
.food{
    top: -60px;
    right: 20px;
    position: absolute;
}

.mainDiv p,.mainDiv h3{
    color: #4F4F4F;
}
.divPizza{
    top: 212px;
    left: 24px;
}
.divSoup{
    top: 300px;
}
.divCoffee{
    top: 80%;
    left: 24px;
}
@media (max-width:750px) {
    .sec{
        flex-direction: column;
        width: 100%;
        padding-top: 130px;
        height: auto;
    }
    .text{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainDiv{
        width: 80%;
        top: 36px;
        right: -92px;
    }
    .container{
        margin-bottom: 60px;
    }
    .divCoffee{
        left: -96px;
        top: 80%;
    }
    .divPizza{
        top: 212px;
        left: -96px;
    }
    .divSoup{
        top: 300px;
    }
    
}